@import './main.css';

/* hero section */
.hero {
    width: 100%;
    padding: 60px 8px;
    border-radius: 20px 20px 0 0;
    background-color: var(--primary);
    background-image: url("../assets/images/bg-ball.png"), url("../assets/images/bg-snow.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.hero_wrapper {
    padding: 60px 0px;
    max-width: 426px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.hero_title {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.hero_caption {
    margin: 0;
    padding: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
}

.hero_button,
.timer_button {
    border-radius: 20px;
    width: 235px;
    height: 56px;
    background: var(--dark);

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);

    transition: color 0.5s ease,
        background-color 0.5s ease;
}

@media (hover: hover) and (pointer: fine) {

    .hero_button:hover,
    .timer_button:hover {
        background: var(--static-white);
        color: var(--dark);
    }
}

/* about section */
.about {
    width: 100%;
    padding: 60px 8px;
    background-color: var(--primary);
    background-image: url("../assets/images/bg-snow.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.about_wrapper {
    border-radius: 20px;
    max-width: 1276px;
    background-color: var(--static-white);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 528px;
    justify-content: space-between;
    align-items: center;
}

.about_text {
    max-width: 426px;
    min-height: 328px;
    padding: 60px 0px;
    margin: 0px 60px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.about_caption {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: var(--primary);
}

.about_title {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--dark);
}

.about_paragraph {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--dark);
}

.about_img_container {
    height: 528px;
}

.about_img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

/* slider section */
.slider {
    width: 100%;
    height: 488px;
    padding: 60px 8px;
    background-color: var(--primary);
    background-image: url("../assets/images/bg-snow.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.slider_wrapper {
    width: 100%;
    max-width: 1276px;
    height: 368px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.slider_text,
.bestGifts_text {
    max-width: 426px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.slider_caption,
.bestGifts_caption,
.timer_caption {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
}

.slider_title,
.bestGifts_title,
.timer_title {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.slider_container {
    height: 200px;
    overflow: hidden;
}

.slider_row {
    padding: 0 82px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: transform 0.5s ease;
}

.slider_container__text {
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.slider_container__imgContainer {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.slider_container__img {
    border-radius: 20px;
}

.slider_buttons {
    width: 100%;
    height: 56px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.slider_button {
    border: 1px solid var(--static-white);
    border-radius: 20px;
    width: 56px;
    height: 56px;
    transition: border 0.5s ease, background-color 0.5s ease;
}

@media (hover: hover) and (pointer: fine) {
    .slider_button:hover {
        border: 1px solid var(--static-white);
        background-color: var(--static-white);
    }
}

@media (hover: hover) and (pointer: fine) {
    .slider_button:hover>svg path {
        stroke: var(--primary);
        transition: stroke 0.5s ease;
    }
}

.slider_button:disabled {
    border: 1px solid var(--static-white-40);
    pointer-events: none;
    cursor: default;
}

/* bestGifts section */
.bestGifts {
    width: 100%;
    padding: 60px 8px;
    background-color: var(--primary);
    background-image: url("../assets/images/bg-snow.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.bestGifts_wrapper {
    max-width: 1276px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.bestGifts_cards {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 12px;
}

/* timer section */
.timer {
    width: 100%;
    min-height: 668px;
    padding: 60px 8px;
    border-radius: 0 0 20px 20px;
    background-color: var(--primary);
    background-image: url("../assets/images/bg-forest.png"), url("../assets/images/bg-snow.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timer_wrapper {
    padding: 60px 0px;
    width: 100%;
    max-width: 426px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.timer_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.timer_box {
    border-radius: 20px;
    width: 344px;
    height: 72px;
    background-color: var(--static-white-40);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timer_box hr {
    border: 1px solid var(--static-white-40);
    width: 0px;
    height: 20px;
}

.timer_box__column {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer_box__text {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.timer_box__number {
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

/* responsive styles */
@media (max-width: 1439px) {
    .slider_row {
        padding: 0 8px;
    }
}

@media (max-width: 1292px) {
    .bestGifts_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 665px) {
    .about_wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .about_text {
        margin: 0px 20px;
    }
}

@media (max-width: 648px) {
    .bestGifts_cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .timer {
        min-height: 704px;
    }
}

@media (max-width: 380px) {}