@import 'normalize.css';
@import 'variables.css';
@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    display: flex;
    justify-content: center;

    background: var(--static-white);
    color: var(--dark);

    font-family: var(--font-family);
    font-weight: 600;
}

.container {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
}

a,
button,
div {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

/* header styles */
.header {
    width: 100%;
    height: 64px;
    padding: 0px 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.header_wrapper {
    width: 100%;
    max-width: 1276px;
    padding: 12px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    border-radius: 12px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.nav_link {
    border-radius: 12px;
    padding: 12px 20px;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.current_link {
    background-color: var(--primary-10);
    color: var(--primary);
}

.nav_button {
    display: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav_button span {
    width: 22px;
    height: 2px;
    background-color: var(--dark);
    border-radius: 1px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

@media (hover: hover) and (pointer: fine) {
    .nav_link:hover {
        background-color: var(--primary-10);
        color: var(--primary);
    }
}

.current_link {
    pointer-events: none;
}

.link {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* footer styles */
.footer {
    width: 100%;
    padding: 60px 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer_wrapper {
    width: 100%;
    max-width: 1276px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer_cards {
    border-radius: 60px;
    width: 100%;
    margin-bottom: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 12px;
}

.footer_card {
    border-radius: 20px;
    padding: 20px;
    height: 204px;
    background: var(--content-background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer_card:hover {
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {

    .footer_card:hover>.footer_card__contact,
    .footer_card:hover>.footer_card__title {
        color: var(--primary);
        transition: color 0.5s ease;
    }
}

.footer_card__contact {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
}

.footer_card__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
}

.footer_info {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer_social {
    width: 196px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_social>a {
    padding: 8px;
    width: 40px;
    height: 40px;
}

@media (hover: hover) and (pointer: fine) {
    .footer_social>a:hover>svg path {
        stroke: var(--primary);
        transition: stroke 0.5s ease;
    }
}

.footer_paragraph {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    text-align: center;
    color: var(--dark);
}

.footer_caption {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--dark);
    transition: color 0.5s ease;
}

@media (hover: hover) and (pointer: fine) {
    .footer_caption:hover {
        color: var(--primary);
    }
}

/* Gifts styles */
.bestGifts_card {
    border-radius: 20px;
    width: 310px;
    height: 342px;
    background-color: var(--content-background);
}

.bestGifts_card:hover {
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    .bestGifts_card:hover .bestGifts_card__header {
        color: var(--primary);
        transition: color 0.5s ease;
    }
}

.bestGifts_card__imgContainer {
    width: 310px;
    height: 230px;
}

.bestGifts_card__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bestGifts_card__text {
    border-radius: 20px;
    padding: 20px;
    width: 310px;
    height: 112px;
    background-color: var(--static-white);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.bestGifts_card__text>.tag_work {
    color: var(--tag-purple);
}

.bestGifts_card__text>.tag_health {
    color: var(--tag-green);
}

.bestGifts_card__text>.tag_harmony {
    color: var(--tag-pink);
}

.bestGifts_card__tag {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.bestGifts_card__header {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--dark);

    /* styles for text overflow box */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* responsive styles */
@media (max-width: 1060px) {
    .footer_cards {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        position: fixed;
        top: 64px;
        right: -100%;
        width: 100%;
        height: calc(100% - 64px);
        background: var(--static-white);

        transition: right 0.5s ease;
    }

    .nav.show {
        right: 0;
    }

    .nav.show>.link {
        font-size: 24px;
        line-height: 152%;
        letter-spacing: 0.16em;
    }

    .nav_button {
        display: flex;
    }

    .nav_button.open {
        gap: 0;
    }

    .nav_button.open span:nth-child(1) {
        transform: rotate(45deg) translateY(1px);
    }

    .nav_button.open span:nth-child(2) {
        transform: rotate(-45deg) translateY(-1px);
    }

    body.hidden {
        overflow: hidden;
    }

    .current_link {
        pointer-events: auto;
    }
}

@media (max-width: 380px) {
    .container {
        max-width: 380px;
    }
}