@import 'normalize.css';
@import 'fonts.css';

body {
    display: flex;
    justify-content: center;
    background: var(--static-white);
    color: var(--dark);
    font-family: var(--font-family);
    font-weight: 600;
}

.container {
    width: 1440px;
    min-height: 100vh;
}